$top_color: #1f897f;
$main_color: #26a69a;
$background_dim: #000000;
$dialog_width: 280px;
$date_dialog_buttons_width: $dialog_width / 3 - 4px;

.date_dialog_container {
    z-index: 10000;
}

.dialog_dim {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $background_dim;
    opacity: 0.3;
    z-index: 100;
}

.date_dialog {
    position: absolute;
    margin: auto;
    top: 12%;
    right: 0;
    bottom: 0;
    left: 0;
    width: $dialog_width;
    z-index: 10000;
}

.date_dialog_header {
    width: 100%;
    background-color: $main_color;
    text-align: center;
    color: #fff;
}

.date_dialog_chosen_day_of_week {
    background-color: $top_color;
    padding: 10px;
    font-weight: 200;
    font-size: 1rem;
}

.date_dialog_chosen_month {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 100;
}

.date_dialog_chosen_day {
    font-size: 3.8rem;
    font-weight: 400;
}

.date_dialog_chosen_year {
    font-size: 1.8rem;
}

.date_dialog_picker {
    background-color: white;
}

.date_dialog_picker_header {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.date_dialog_month_select {
    background-color: #FFFFFF;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
}

.date_dialog_picker_left, .date_dialog_picker_right {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    cursor: pointer;
    margin-top: -1em;
    left: 1em;
}

.date_dialog_picker_left {
    border-width: 7.5px 10px 7.5px 0;
    border-color: transparent rgba(160, 159, 160, 1) transparent transparent;
}

.date_dialog_picker_right {
    right: 1em;
    left: auto;

    border-width: 7.5px 0 7.5px 10px;
    border-color: transparent transparent transparent rgba(160, 159, 160, 1);
}

.date_dialog_picker_table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
}

.date_dialog_picker_table td {
    vertical-align: middle;
    display: table-cell;
}

.date_dialog_picker_table_header_item {
    color: #999;
    font-weight: 500;
}

.date_dialog_picker_table_item {
    cursor: pointer;
    color: #595959;
    font-weight: 400;
    width: 40px;
    height: 40px;
    display:table-cell;
    vertical-align:middle;

    &:hover {
        color: black;
    }
}

.date_dialog_picker_table_item_selected {
    background-color: $main_color;
    border-radius: 50%;
    color: #fff;

    &:hover {
        color: #fff;
    }
}



.date_dialog_footer {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: white;
}

.date_dialog_footer button {
    width: $date_dialog_buttons_width;
    margin-left: 2px;
    margin-right: 2px;
}

.date_dialog_today, .date_dialog_close {
    color: $main_color;
}
