$color_accent: #FF4081;
$color_nav_bar: #2196F3;
$fab_size: 4em;
$nav_bar_height: 3em;
$day_block_width_desktop: 110px;
$day_block_width_tablet: 90px;
$day_block_width_mobile: 30px;
$day_block_height: 50px;

@mixin elevation( $depth ) {
    z-index: $depth;

    box-shadow: none;

    @if $depth < 1 {
        box-shadow: none;
        z-index: 0;
    }

    @if $depth == 1 {
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    }

    @if $depth == 2 {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2),
        0 6px 10px 0 rgba(0, 0, 0, 0.3);
    }

    @if $depth == 3 {
        box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19),
        0 13px 25px 0 rgba(0, 0, 0, 0.3);
    }

    @if $depth == 4 {
        box-shadow: 0 14px 12px 0 rgba(0, 0, 0, 0.17),
        0 20px 40px 0 rgba(0, 0, 0, 0.3);
    }

    @if $depth == 5 {
        box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.15),
        0 27px 55px 0 rgba(0, 0, 0, 0.3);
    }
}

#nav_bar {
    @include elevation(2);

    width: 100%;
    height: $nav_bar_height;
    background-color: #2196F3;
    position: absolute;
    top: 0;
    left: 0;
}

#add_record_fab {
    background: $color_accent url("../img/add.svg") no-repeat center;
    width: $fab_size;
    height: $fab_size;
    position: fixed;
    right: 2em;
    bottom: 2em;
    border-radius: 50%;
    transition: 0.3s;

    @include elevation(2);
    &:hover {
        @include elevation(3);
        width: $fab_size*1.1;
        height: $fab_size*1.1;
        right: 2em - $fab_size*0.05;
        bottom: 2em - $fab_size*0.05;
        transition: 0.3s;
    }
}

.paper {
    @include elevation(1);
    transition: all 300ms;
    margin-top: $nav_bar_height - 1em;
    margin: 1em;

    @media (min-width: 1023px) {
        margin-left: auto;
        margin-right: auto;
        width: $day_block_width_desktop * 7 + 5px* 14;
        margin-top: $nav_bar_height - 1em;
    }

    padding: 1em;
    padding-top: 2em;
    border-radius: 0.2em;
}

.record_item {

}

@keyframes calendar_content_appearing_animation {
    0% {
        -webkit-transform: translateY(-50%);
        opacity: 0;
    }

    90% {
        opacity: 0.5;
    }

    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

@keyframes calendar_content_sliding_left_animation {
    0% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }

    10% {
        opacity: 0.5;
    }

    100% {
        -webkit-transform: translateX(-20%);
        opacity: 0;
    }
}

@keyframes calendar_content_sliding_right_animation {
    0% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }

    10% {
        opacity: 0.5;
    }

    100% {
        -webkit-transform: translateX(20%);
        opacity: 0;
    }
}

#calendar {
    margin: 0 auto;
}

#calendar_header {
    margin: auto;
    width: 270px;
    position: relative;
}

#calendar_header h1 {
    text-align: center;
    margin: auto;
    padding: 0;
    width: 240px;
    font-size: 20px;
    line-height: 50px;
    font-weight: 100;
    letter-spacing: 1px;
}

#calendar_header_left, #calendar_header_right {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    cursor: pointer;
    margin-top: -2em;
    left: 2em;
}

#calendar_header_left {
    border-width: 7.5px 10px 7.5px 0;
    border-color: transparent rgba(160, 159, 160, 1) transparent transparent;
}

#calendar_header_right {
    right: 2em;
    left: auto;

    border-width: 7.5px 0 7.5px 10px;
    border-color: transparent transparent transparent rgba(160, 159, 160, 1);
}

.calendar_content_container {

}

.calendar_day > div {
    cursor: pointer;
    width: $day_block_height - 10px;
    height: $day_block_height;
    position: relative;
    margin: auto;
    left: 0;
    right:0;
    top: 0;
    bottom: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.calendar_day_with_record > div {
    background-color: #26a69a;
    border-radius: 50%;
    color: #fff;
}

.calendar_content {
    width: $day_block_width_desktop * 7 + 5px* 14;
    margin: auto;
    position: relative;

}

.calendar_content_prev, .calendar_content_next {
    opacity: 0;
}

.calendar_content_prev {
    animation: calendar_content_sliding_right_animation 0.3s;
}

.calendar_content_next {
    animation: calendar_content_sliding_left_animation 0.3s;
}

.calendar_content_appear {
    animation: calendar_content_appearing_animation 0.3s;
}

.calendar_day {
    width: $day_block_width_desktop;
    display: inline-block;
    margin: 5px 5px;
    height: $day_block_height;
    position: relative;
}

@media (max-width: 1023px) {
    .calendar_day {
        width: $day_block_width_tablet;
    }

    .calendar_content_container,
    .calendar_content
    {
        width: $day_block_width_tablet * 7 + 5px* 14;
    }
}

@media (max-width: 890px) {
    .paper {
        padding-left: 0.2em;
        padding-right: 0.2em;
    }
}

@media (max-width: 767px) {
    .calendar_day {
        width: $day_block_width_mobile;
        font-size: 0.8em;
    }

    .calendar_day > div {
        width: $day_block_width_mobile;
        height: $day_block_width_mobile;
    }

    .calendar_content_container,
    .calendar_content
    {
        width: $day_block_width_mobile * 7 + 5px* 14;
    }
}

.flat_button {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    background-color: white;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: none;

    &:hover {
        transition: 0.3s;
        background-color: #e5e4e5;
    }
}

.record_list_item_field > div {
    display: inline-block;
}

.record_list_item_field h3 {
    margin-right: 1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
