#nav_bar {
  z-index: 2;
  box-shadow: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 3em;
  background-color: #2196F3;
  position: absolute;
  top: 0;
  left: 0; }

#add_record_fab {
  background: #FF4081 url("../img/add.svg") no-repeat center;
  width: 4em;
  height: 4em;
  position: absolute;
  right: 2em;
  bottom: 2em;
  border-radius: 50%;
  transition: 0.3s;
  z-index: 2;
  box-shadow: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3); }
  #add_record_fab:hover {
    z-index: 3;
    box-shadow: none;
    box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
    width: 4.4em;
    height: 4.4em;
    right: 1.8em;
    bottom: 1.8em;
    transition: 0.3s; }

.paper {
  z-index: 1;
  box-shadow: none;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  margin: 1em;
  margin-top: 2em;
  padding: 1em;
  padding-top: 2em;
  border-radius: 0.2em; }

@keyframes calendar_content_appearing_animation {
  0% {
    -webkit-transform: translateY(-50%);
    opacity: 0; }
  90% {
    opacity: 0.5; }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1; } }
@keyframes calendar_content_sliding_left_animation {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1; }
  10% {
    opacity: 0.5; }
  100% {
    -webkit-transform: translateX(-20%);
    opacity: 0; } }
@keyframes calendar_content_sliding_right_animation {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1; }
  10% {
    opacity: 0.5; }
  100% {
    -webkit-transform: translateX(20%);
    opacity: 0; } }
#calendar {
  margin: 0 auto; }

#calendar_header {
  margin: auto;
  width: 240px;
  position: relative; }

#calendar_header h1 {
  text-align: center;
  margin: auto;
  padding: 0;
  width: 240px;
  font-size: 20px;
  line-height: 50px;
  font-weight: 100;
  letter-spacing: 1px; }

#calendar_header_left, #calendar_header_right {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  cursor: pointer;
  margin-top: -2em;
  left: 2em; }

#calendar_header_left {
  border-width: 7.5px 10px 7.5px 0;
  border-color: transparent #a09fa0 transparent transparent; }

#calendar_header_right {
  right: 2em;
  left: auto;
  border-width: 7.5px 0 7.5px 10px;
  border-color: transparent transparent transparent #a09fa0; }

.calendar_content_container {
  width: 840px;
  margin: auto;
  position: relative; }

.calendar_content {
  width: 840px;
  margin: auto;
  left: auto;
  right: auto; }

.calendar_content_prev, .calendar_content_next {
  position: relative;
  top: -100%;
  width: auto;
  margin: auto;
  z-index: -1; }

.calendar_content_prev {
  animation: calendar_content_sliding_right_animation 0.3s; }

.calendar_content_next {
  animation: calendar_content_sliding_left_animation 0.3s; }

.calendar_content_appear {
  animation: calendar_content_appearing_animation 0.3s; }

.calendar_day {
  width: 100px;
  display: inline-block;
  margin: 10px 10px; }

@media (max-width: 1023px) {
  .calendar_day {
    width: 80px; }

  .calendar_content_container, .calendar_content {
    width: 700px; } }
@media (max-width: 767px) {
  .calendar_day {
    width: 15px; }

  .calendar_content_container, .calendar_content {
    width: 245px; } }

/*# sourceMappingURL=main.css.map */
