.flat_button {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  background-color: white;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: none; }
  .flat_button:hover {
    transition: 0.3s;
    background-color: #e5e4e5; }
  .flat_button:focus {
    outline: none; }

.form_group {
  position: relative;
  margin-bottom: 1em; }
  .form_group .stars_container {
    padding-top: 0.2em;
    padding-bottom: 0.2em; }
  .form_group .star_container {
    display: inline-block;
    height: 2.4em;
    width: 2.4em; }
  .form_group .rating_star {
    position: relative;
    top: 0.2em;
    left: 0.2em;
    height: 2em;
    width: 2em;
    background: url("../img/ic_star_black_24px.svg") no-repeat center;
    background-size: 100%;
    transition: all 0.3s ease; }
    .form_group .rating_star:hover {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
  .form_group .rating_star_checked {
    position: relative;
    top: 0.2em;
    left: 0.2em;
    height: 2em;
    width: 2em;
    background: url("../img/ic_star_border_black_24px.svg") no-repeat center;
    background-size: 100%;
    transition: all 0.3s ease; }
    .form_group .rating_star_checked:hover {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
  .form_group select,
  .form_group input {
    display: block;
    z-index: 2;
    background: none;
    border: 0 transparent;
    line-height: 1.9;
    width: 100%;
    color: #373737;
    transition: all 0.3s ease;
    box-shadow: none; }
    .form_group select:focus,
    .form_group input:focus {
      outline: none; }
      .form_group select:focus ~ .highlight_bar::before,
      .form_group input:focus ~ .highlight_bar::before {
        width: 100%;
        left: 0; }
      .form_group select:focus ~ .hint_label,
      .form_group input:focus ~ .hint_label {
        top: -1em;
        font-size: 0.7em;
        color: #2088e2; }
  .form_group select {
    padding-top: 0.7em; }
  .form_group .hint_label {
    color: #999;
    position: absolute;
    pointer-events: none;
    top: 0em;
    transition: all 0.3s ease; }
  .form_group .hint_label_active {
    top: -1em;
    font-size: 0.7em;
    color: #2088e2; }
  .form_group .hint_label_not_empty {
    top: -1em;
    font-size: 0.7em;
    color: #2088e2;
    color: #999; }
  .form_group .highlight_bar {
    position: relative;
    border-bottom: 0.1em solid #999;
    display: block; }
    .form_group .highlight_bar::before {
      content: '';
      height: 0.15em;
      width: 0;
      left: 50%;
      top: -0.075em;
      position: absolute;
      background: #2088e2;
      transition: left 0.3s ease, width 0.3s ease;
      z-index: 2; }
  .form_group .highlight_bar_error::before {
    width: 100%;
    left: 0;
    background: #ff0000; }
  .form_group .hint_label_error {
    color: #ff0000; }
  .form_group .highlight_bar_active::before {
    width: 100%;
    left: 0; }

.raised_button {
  border: none;
  border-radius: 2px;
  padding: 0.5em 1em;
  text-transform: uppercase;
  text-align: center;
  background-color: #2196F3;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
  z-index: 1;
  box-shadow: none;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37); }
  .raised_button span::before {
    background: black;
    position: absolute;
    top: 50%;
    bottom: 50%;
    width: 50px;
    height: 50px;
    z-index: 5; }
  .raised_button:hover {
    z-index: 2;
    box-shadow: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    background-color: #2088e2; }
  .raised_button:focus {
    outline: none; }

/*# sourceMappingURL=material.css.map */
