$primary_color: #2196F3;
$focus_color: #2088e2;
$error_color: #ff0000;
$transition-speed: 0.3s;
$border_color: #999 !default;
$text_color: #373737;

@mixin elevation( $depth ) {
    z-index: $depth;

    box-shadow: none;

    @if $depth < 1 {
        box-shadow: none;
        z-index: 0;
    }

    @if $depth == 1 {
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    }

    @if $depth == 2 {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2),
        0 6px 10px 0 rgba(0, 0, 0, 0.3);
    }

    @if $depth == 3 {
        box-shadow: 0 11px 7px 0 rgba(0, 0, 0, 0.19),
        0 13px 25px 0 rgba(0, 0, 0, 0.3);
    }

    @if $depth == 4 {
        box-shadow: 0 14px 12px 0 rgba(0, 0, 0, 0.17),
        0 20px 40px 0 rgba(0, 0, 0, 0.3);
    }

    @if $depth == 5 {
        box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.15),
        0 27px 55px 0 rgba(0, 0, 0, 0.3);
    }
}

.flat_button {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    background-color: white;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: none;

    &:hover {
        transition: 0.3s;
        background-color: #e5e4e5;
    }

    &:focus {
        outline: none;
    }
}

.form_group {

    position: relative;
    margin-bottom: 1em;

    @mixin hint_label_active {
        top: -1em;
        font-size: 0.7em;
        color: $focus_color;
    }

    @mixin highlighting_bar_active {
        width: 100%;
        left: 0;
    }

    $stars_size: 2em;

    .stars_container {
        padding-top: $stars_size*0.1;
        padding-bottom: $stars_size*0.1;
    }

    .star_container {
        display: inline-block;
        height: $stars_size*1.2;
        width: $stars_size*1.2;
    }

    .rating_star {
        position: relative;
        top: $stars_size * 0.1;
        left: $stars_size * 0.1;
        height: $stars_size;
        width: $stars_size;
        background: url("../img/ic_star_black_24px.svg") no-repeat center;
        background-size: 100%;
        transition: all $transition-speed ease;

        &:hover {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }

    .rating_star_checked {
        position: relative;
        top: $stars_size * 0.1;
        left: $stars_size * 0.1;
        height: $stars_size;
        width: $stars_size;
        background: url("../img/ic_star_border_black_24px.svg") no-repeat center;
        background-size: 100%;
        transition: all $transition-speed ease;

        &:hover {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }

    select,
    input {
        display: block;
        z-index: 2;
        background: none;
        border: 0 transparent;
        line-height: 1.9;
        width: 100%;
        color: $text_color;

        transition: all $transition-speed ease;
        box-shadow: none;

        &:focus {
            outline: none;

            ~ .highlight_bar {
                &::before {
                    @include highlighting_bar_active;
                }
            }

            ~ .hint_label {
                @include hint_label_active;

            }
        }
    }

    select {
        padding-top: 0.7em;
    }

    .hint_label {
        color: $border_color;
        position: absolute;
        pointer-events: none;
        top: 0em;
        transition: all $transition-speed ease;
    }


    .hint_label_active {
        @include hint_label_active;
    }

    .hint_label_not_empty {
        @include hint_label_active;
        color: $border_color;
    }

    .highlight_bar {
        position: relative;
        border-bottom: 0.1em solid $border_color;
        display: block;

        &::before {
            content: '';
            height: 0.15em;
            width: 0;
            left: 50%;
            top: -0.075em;
            position: absolute;
            background: $focus_color;
            transition: left $transition-speed ease, width $transition-speed ease;
            z-index: 2;
        }
    }

    .highlight_bar_error {
        &::before {
            width: 100%;
            left: 0;
            background: $error_color;
        }
    }

    .hint_label_error {
        color: $error_color;
    }

    .highlight_bar_active {
        &::before {
            @include highlighting_bar_active;
        }
    }
}

.raised_button {
    border: none;
    border-radius: 2px;
    padding: 0.5em 1em;
    text-transform: uppercase;

    text-align: center;
    background-color: $primary_color;
    color: white;
    transition: 0.3s;
    cursor: pointer;
    position: relative;

    @include elevation(1);

    span::before {
        background: black;
        position: absolute;
        top: 50%;
        bottom: 50%;
        width: 50px;
        height: 50px;
        z-index: 5;
    }

    &:hover {
        @include elevation(2);
        transition: 0.3s;
        background-color: $focus_color;
    }

    &:focus {
        outline: none;
    }
}
